.aside2{
    width: 90%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4%;
    margin-left: 300px;
    padding:8px;
    margin: top 5px;
  }
  .aside2 .div1{
      height: 50px;
      font-size: 30px;
      text-align: center;
      color: rgba(0, 0, 0, 0.812);
      font-style: oblique;
  }
  #dtBasicExample{
      width: 100%;
  }
  
  
  
  .div3 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px auto;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .groupe-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  
  .groupe-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .groupe-form input,
  .groupe-form select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .groupe-form .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .groupe-form .submit-button:hover {
    background-color: #0056b3;
  }